<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kacper Mandziuk - Portfolio</title>
    <link rel="stylesheet"  href="styles/css/main.css"/>
    <link rel="stylesheet"  href="styles/css/components.css"/>
    <link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <script type="importmap">
        {
          "imports": {
            "vue": "https://unpkg.com/vue@3/dist/vue.esm-browser.js",
            "swiper": "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs"
          }
        }
    </script>
    <script type='module'>
        import { createApp, ref, computed } from 'vue';
        import Swiper from 'swiper';

        import ExperienceRecord from './components/experience-record.js'
        import ProjectCard from './components/project-card.js'

        createApp({
            components: {
                ExperienceRecord,
                ProjectCard
            },
            setup() {
                const experience = ref([]);
                const techstack = ref([]);
                const projects = ref([]);
                const hamburger = ref([]);
                const nav = ref();
                

                const swiper = new Swiper('.swiper', {
                        init: false,
                        spaceBetween: 75,
                        slidesPerView: 1,
                        grabCursor: true,
                        pagination: {
                            el: ".swiper-pagination"
                        },
                        breakpoints: {
                            640: {
                                spaceBetween: 0,
                                slidesPerView: 1,
                            },
                            768: {
                                slidesPerView: 2,
                                spaceBetween: 75
                            }
                        }
                    });


                fetch('./data/experience.json').then(res => res.text()).then(res => experience.value = JSON.parse(res));
                fetch('./data/techstack.json').then(res => res.text()).then(res => techstack.value = JSON.parse(res));
                fetch('./data/projects.json').then(res => res.text()).then(res => projects.value = JSON.parse(res));
                
                const changeTab = (tabId) => currentRecordId.value = tabId;

                const toggleMobileNav = () => {
                    nav.value.classList.toggle('active');
                    hamburger.value.classList.toggle('active');
                } 

                const swiperInit = () => swiper.init();

                return {
                    nav,
                    projects,
                    hamburger,
                    techstack,
                    changeTab,
                    swiperInit,
                    experience,
                    toggleMobileNav,
                }
            },
        }).mount('#app');
    </script>
</head>
<body>
    <div id="app">
        <header class="header">
            <div class="content-wrapper">
                <a href="https://mandziukgit.github.io/portfolio/">
                    <img src="assets/images/logo.svg" alt="logo" />
                </a>
                <nav ref="nav" class="header__navigation">
                    <ul>
                        <li @click="toggleMobileNav"><a href="#about">About me</a></li>
                        <li @click="toggleMobileNav"><a href="#projects">Project</a></li>
                        <li @click="toggleMobileNav"><a href="#contact">Contact</a></li>
                    </ul>
                </nav>
                <button ref='hamburger' class="header__hamburger" @click="toggleMobileNav">
                    <div></div>
                    <div></div>
                    <div></div>
                </button>
            </div>
        </header>
        
        <section id="home">
            <div class='content-wrapper home__container'>
                <div class="home__hero-text">
                    <div class="badge">
                        <div class="badge__beacon"></div>
                        <p class="badge__label">OPEN TO WORK</p>
                    </div>
                    <p class="home__greeting">Hi my name is</p>
                    <h1 class="home__main-heading heading-1 text-gradient">
                        Kacper Mandziuk<br>
                    </h1> 
                    <p class="home__brief">Im self thought <span class="home__brief--bold text-gradient">WEB DEVELOPER</span>, with over 3 years of commercial experience. Of course I love to code, but it is only one thing among others.</p>
                    <a class="button" href="#about">Explore my work<img src='assets/icons/explore.svg' alt='explore icon' /></a>
                </div>
                <div class="home__hero-image">
                    <img src="assets/images/freelancer.svg" alt="hero image">
                </div>
            </div>
        </section>
    
        <section id="about">
            <div class='content-wrapper'>
                <h2 class="heading-2">About me and <br> my experience</h2>
                <div class="about__author">
                    <div class="about__image">
                        <img src="assets/images/kacper.jpg" alt="author image"/>
                    </div>
                    <div class="about__about">
                        <p>
                            Im fan of vue and whole ecosystem build around it, including nuxt for creating server rendered pages. When Im not coding, I usually go to the gym, or spend time with people I love. Good coffee and good book is my thing. In the end doing all of that is very exhausing, so I try not to forget about resting and relaxing 
                        </p>
                    </div>
                    <div class="about__socials">
                        <a href="https://github.com/mandziukGIT" target="_blank">
                            <img src="assets/icons/github.svg" alt="" />
                        </a>
                        <a href="https://linkedin.com/in/kacper-mandziuk" target="_blank">
                            <img src="assets/icons/linkedin.svg" alt="" />
                        </a>
                    </div>
                </div>
                <div class="about__work">
                    <div class="about__work-headline">
                        <h3 class='heading-3'>
                            Where I've worked.
                        </h3>
                        <a class="button" href="assets/CV.pdf" download='Kacper_Mandziuk_CV'>
                            Download CV
                        </a>
                    </div>
                    <div class="about__swiper swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide" v-for='exp in experience' :key="exp.id"> 
                                <experience-record :record="exp" @mounted="swiperInit"/> 
                            </div>
                        </div> 
                        <div class="swiper-pagination"></div>
                    </div>
                    <div class="about__work-technologies">
                        <h3 class='heading-3'>
                            Main technologies I use.
                        </h3>
                        <ul class="about__tech-list">
                            <li v-for="tech in techstack" :key="tech">
                                <img :src="`assets/icons/${tech}.svg`" alt="" />
                                <p>{{ tech }}</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    
        <section id="projects">
            <div class="content-wrapper">
                <h2 class="heading-2">Explore my<br> previous work</h2>
                <div class="projects__list">
                    <project-card v-for='project in projects' :key="project.name" :project="project"></project-card>
                </div>
            </div>
        </section>
    
        <section id="contact">
            <div class="content-wrapper">
                <h2 class="heading-2">Contact me, choose<br> different options</h2>
                <ul class="contact__options-list">
                    <li>
                        <a href="mailto:kacper.mandziuk.it@gmail.com" class="contact__option">
                            <img src="assets/icons/contact-email.svg" alt="contact-icon" />
                            <p>kacper.mandziuk.it@gmail.com</p>
                        </a>
                    </li>
                    <li>
                        <a href="tel:+48721704678" class="contact__option">
                            <img src="assets/icons/contact-phone.svg" alt="contact-icon" />
                            <p>+48 721 704 678</p>
                        </a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/in/kacper-mandziuk" target="_blank" class="contact__option">
                            <img src="assets/icons/contact-linkedin.svg" alt="contact-icon" />
                            <p>linkedin.com/in/kacper-mandziuk</p>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
    
        <footer class="footer">
            <div class='content-wrapper'>
                <a href="https://mandziukgit.github.io/portfolio/">
                    <img src="assets/images/logo.svg" alt="logo" />
                </a>
                <p>&copy; All rights reserved - 2024</p>
                <div class="footer__socials">
                    <a href="https://github.com/mandziukGIT" target="_blank">
                        <img src="assets/icons/github.svg" alt="" />
                    </a>
                    <a href="https://linkedin.com/in/kacper-mandziuk" target="_blank">
                        <img src="assets/icons/linkedin.svg" alt="" />
                    </a>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>
