@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


/* CSS override */

* {
    margin: 0;
    padding: 0;
}

html {
    --color-primary: #6190E5;
    --color-secondary: #36507F;
    --gradient: linear-gradient(0deg, #36507F 0%, #6190E5 100%);
    --color-grey: #6B7280;
    
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
 }

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

/* utility classes */

.heading-1 {
    font-size: 64px;
}

.heading-2 {
    font-size: 48px;
}

.heading-3 {
    font-size: 36px;
}

.heading-2:after {
    content: '.';
    font-size: 96px;
    line-height: 50%;
}

#projects .heading-2:after, #contact .heading-2:after {
   color: var(--color-primary)
}


.text-gradient {
    background: -webkit-linear-gradient(0deg, #36507F 0%, #6190E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.button img {
    width: 28px;
}

/* regular classes */

header, footer, section > div {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;

}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px 0; 
}

.header__navigation ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.header__navigation li:hover {
    border-bottom: var(--color-grey) 2px solid;
}

.header__navigation a {
    color: var(--color-grey)
}

/* home section */

.home__container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.home__copy-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    max-width: 500px;
    font-family: "Roboto Condensed", sans-serif;
}

.home__copy-text h1 {
    line-height: 70%;
}

.home__greeting {
    font-size: 32px;
}

.home__copy-text a {
    color: white;
    background-image: linear-gradient(90deg, #36507F, #6190E5, #36507F);
    background-size: 200%;
    transition: 400ms ease-in-out;
}

.home__copy-text a:hover {
    background-position: right;
}

.home__heading--stroke {
    -webkit-text-stroke: 5px transparent;
    -webkit-text-fill-color: white;
}

.home__brief {
    line-height: 135%;
    font-size: 24px;
}

.home__brief--bold {
    font-weight: 700;
}

/* About section */

#about {
    margin-top: 70px;
    padding-top: 100px;
    background-image: linear-gradient(0deg, #3D71F2,  #23418C) ;
    position: relative;
    color: white;
}

#about::after {
    content: url('/portfolio/assets/images/waves.svg') url('/assets/images/waves.svg');
    position: absolute;
    right: 10%;
    top: -45px;
}

.about__motto {
    margin: 150px auto;
    background-color: #9CB8FF;
    border-radius: 10px;
    width: fit-content;
    padding: 0 20px;
    font-size: 30px;
    position: relative;
}

.about__motto::before {
    content: url('/portfolio/assets/images/left-frame.svg') url('/assets/images/left-frame.svg');
    position: absolute;
    top: -20px;
    left: -20px;
}

.about__motto::after {
    content: url('/portfolio/assets/images/right-frame.svg') url('/assets/images/right-frame.svg');
    position: absolute;
    top: -15px;
    right: -20px;
}

.about__author {
    display: flex;
    position: relative;
    z-index: 5;
}

.about__author img {
    max-width: 350px;
    object-fit: contain;
}

.about__author::after {
    content: url('/portfolio/assets/images/frame.svg') url('/assets/images/frame.svg');
    position: absolute;
    left: -30px;
    top: -30px;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.about__author a {
    max-width: 350px;
}

.about__author-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5rem;
}

.about__author-intro p {
    font-family: 'Roboto mono', monospace;
    font-size: 26px;
    line-height: 150%;
}

.about__author-intro a {
    position: relative;
    font-family: "Montserrat", sans-serif;
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}

.about__author-intro a::after {
    content: url('/portfolio/assets/icons/arrow-right.svg') url('/assets/icons/arrow-right.svg');
    position: absolute;
    right: -40px;
    opacity: 1;
    transition: opacity 0.3s ease-out, right 0.3s ease-out;
    width: 28px;
    height: 28px;
}

.about__author-intro a:hover::after {
    right: -80px;
    opacity: 0;
}

.about__socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 350px;
    padding: 40px 0;
}

.about__socials img {
    width: 48px;
    transition: all 0.1s ease-in;
}

.about__socials img:hover {
    transform: scale(1.1);
}

.about__work {
    margin-top: 100px;
}

.about__work a {
    border: 2px solid white;
}

.about__work-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about__work-headline a {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.about__work-headline a:hover {
    box-shadow: 0 0 40px 40px white inset;
    color: var(--color-primary)
}

.about__work-headline a:active {
    transform: translateY(2px)
}

.about__work-experience ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0 50px;
}

.about__work-experience li {
    position: relative;
    cursor: pointer;
}


.about__work-experience li::before, .about__work-experience li::after {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in, left 0.2s ease-in, right 0.2s ease-in;
}

.about__work-experience li::after {
    content: url('/portfolio/assets/icons/arrow-left.svg') url('/assets/icons/arrow-left.svg');
    right: -80px;
}

.about__work-experience li::before {
    content: url('/portfolio/assets/icons/arrow-right.svg') url('/assets/icons/arrow-right.svg');
    left: -80px;
}


.about__work-experience li:hover::before, .about__work-experience li.active::before {
    left: -40px;
    opacity: 1;
}

.about__work-experience li:hover::after, .about__work-experience li.active::after {
    right: -40px;
    opacity: 1;
}

.about__tech-list {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.about__tech-list li {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
}

.about__tech-list img {
    width: 50px;
    height: 50px;
 }
 

.about__tech-list p {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Roboto condensed", sans-serif;
}

/* PROJECTS */

#projects {
    padding-top: 100px;
}

.projects__list {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 100px 0 ;
}
