@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import "navigation.css";

/* CSS override */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    --color-primary: #6190E5;
    --color-secondary: #36507F;
    --gradient: linear-gradient(0deg, #36507F 0%, #6190E5 100%);
    --color-grey: #6B7280;
    
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
 }

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* utility classes */

.heading-1 {
    font-size: clamp(3rem, 2.5909rem + 1.8182vw, 4rem);
    line-height: 100%;
}

.heading-2 {
    font-size: clamp(2rem, 1.5909rem + 1.8182vw, 3rem);
    line-height: 90%;
}

.heading-3 {
    font-size: clamp(1.5rem, 1.5455rem + 0.9091vw, 2rem);
}

.heading-2:after {
    content: '.';
    font-size: 96px;
    line-height: 0;
}

#projects .heading-2:after, #contact .heading-2:after {
   color: var(--color-primary)
}


.text-gradient {
    background: -webkit-linear-gradient(0deg, #36507F 0%, #6190E5 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.button {
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 20px;
    display: flex;
    gap: 15px;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.button img {
    width: 28px;
}

.content-wrapper {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px ;
}

.overflow-hidden {
    overflow: hidden;
}

/* HEADER */

.header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: white;
    z-index: 100;
    transition: top 0.5s ease-in-out;
}

.header--folded {
    top: -62.5px;
}

.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px
}

/* HOME section */

#home {
    display: flex;
    min-height: 100vh;
    padding: 62.5px 0;
}

.home__container {
   display: flex;
   justify-content: center;
}

.home__hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home__role {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
    font-size: 1rem;
    font-weight: 700;
}

.home__role img {
    width: 36px;
}

.home__hero-text .badge {
    margin: 0px auto 40px auto;
}

.home__hero-image {
    display: none;
}

.home__main-heading {
    font-weight: 800;
}

.home__hero-text a {
    color: white;
    background-image: linear-gradient(90deg, #36507F, #6190E5, #36507F);
    background-size: 200%;
    transition: 400ms ease-in-out;
    font-size: 1rem;
    align-self: center;
}

.home__hero-text a:hover {
    background-position: right;
}

.home__brief {
    font-size: 1.1rem;
    max-width: 400px;
    margin: 40px 0;
    line-height: 150%;
}

.home__brief span {
    font-weight: 600;
}

.home__brief--bold {
    font-weight: 700;
}

@media (min-width: 640px) {
    .home__role {
        font-size: 1.4rem;
    }

    .home__brief {
        font-size: 1.2rem;
        max-width: 560px;
    }

    .home__hero-text .badge {
        margin: unset;
        margin-bottom: 50px;
    }
    
    .home__hero-text a {
        align-self: flex-start;
    }
    
}


@media (min-width: 1024px) {
    .home__hero-image {
        display: block;
        padding-left: 75px;
        margin: auto;
    }
    .home__hero-text {
        flex-shrink: 0;
    }
    .home__container {
        justify-content: space-between;
     }
}

/* ABOUT section */

#about {
    padding-top: 100px;
    background-image: linear-gradient(0deg, #3D71F2,  #23418C) ;
    position: relative;
    color: white;
}

@media (min-width: 640px) {
    #about {
        padding-top: 100px;
    }

    #about::after {
        content: url('/portfolio/assets/images/waves.svg') url('/assets/images/waves.svg');
        position: absolute;
        right: 10%;
        top: -45px;
    }
}

.about__motto {
    margin: 150px auto;
    background-color: #9CB8FF;
    border-radius: 10px;
    width: fit-content;
    padding: 0 20px;
    font-size: 30px;
    position: relative;
}

.about__motto::before {
    content: url('/portfolio/assets/images/left-frame.svg') url('/assets/images/left-frame.svg');
    position: absolute;
    top: -20px;
    left: -20px;
}

.about__motto::after {
    content: url('/portfolio/assets/images/right-frame.svg') url('/assets/images/right-frame.svg');
    position: absolute;
    top: -15px;
    right: -20px;
}

.about__author {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "image image"
        "links links"
        "about about";
    gap: 2rem;
    justify-items: center;
    margin: 100px 0 50px;
}

.about__image {
    background: no-repeat url('/assets/images/frame.svg');
    background-size: 80%;
    padding: 30px 30px 0 30px;
    max-width: 350px;
    grid-area: image;
}

.about__image img {
    border-radius: 10px;
}

@media (min-width: 1024px) {
    .about__author {
        grid-template-areas: 
        "image about"
        "links .";
    }
    .about__image {
        padding: 30px 0 0 30px;
        max-width: unset;
    }
}

.about__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    grid-area: about;
    max-width: 400px;
}

.about__about h3 {
    margin: 0 auto;
} 

.about__about h3::after {
    content: ' 🇵🇱';
    font-size: 32px;
} 

.about__about p:last-child {
    font-weight: 700;
}

@media (min-width: 640px) {
    .about__about {
        width: 80%;
        max-width: unset;
    }
    .about__about p {
        font-size: 20px;
    } 
}

.about__socials {
    display: flex;
    justify-content: center;
    gap: 20px;
    grid-area: links;
    padding-top: 20px;
}

.about__socials img {
    width: 48px;
    transition: all 0.1s ease-in;
}

.about__socials img:hover {
    transform: scale(1.1);
}

.about__work a {
    border: 2px solid white;
}

.about__work-technologies {
    text-align: center;
}

.about__work-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    gap: 6rem;
}

@media (min-width: 640px) {
    .about__work {
        margin-top: 100px;
    }
    .about__work-headline {
        flex-direction: row;
        gap: 0;
    }
    .about__work-technologies {
        text-align: start;
    }
    
}

.about__work-headline a {
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.about__work-headline a:hover {
    box-shadow: 0 0 40px 40px white inset;
    color: var(--color-primary)
}

.about__work-headline a:active {
    transform: translateY(2px)
}

.about__swiper {
    --swiper-theme-color: #fff;
    margin: 75px 0;
}

.projects__swiper {
    margin-top: 75px;
}

.swiper-wrapper {
    margin-bottom: 50px;
}

.about__tech-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 50px 0;
    gap: 50px 20px;
}

.about__tech-list li {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
   min-width: 100px;
}

.about__tech-list img {
    width: 50px;
    height: 50px;
 }

.about__tech-list p {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Roboto condensed", sans-serif;
}

/* PROJECTS section */

#projects {
    padding-top: 100px;
}

.projects__list {
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin: 100px 0 ;
}

/* CONTACT section */

#contact {
    overflow: hidden;
    padding-top: 100px;
}

.contact__options-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 25px;
    margin: 100px 0;
    padding: 50px 0;
}

.contact__options-list:before {
    content: url('/portfolio/assets/images/square-waves.svg') url('/assets/images/square-waves.svg');
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100px;
}

.contact__options-list:after {
    content: url('/portfolio/assets/images/dotted-mesh.svg') url('/assets/images/dotted-mesh.svg');
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: -80px;
}

.contact__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 100%;
    background-color: #DFEAF7;
    border-radius: 10px;
    padding: 50px;
    font-family: "Roboto condensed", sans-serif;
    font-weight: 700;
    transition: transform 0.2s ease;
    text-wrap: nowrap;
}

.contact__option:hover {
    transform: scale(1.05);
}

/* FOOTER */

.footer {
    background: linear-gradient(90deg, rgba(35,65,140,0.7460239955357143) 10%, rgba(35,65,140,0.8472144717261905) 50%, rgba(35,65,140,0.9454287574404762) 100%);
    padding: 50px 0;
    color: white;
}

.footer img {
    filter: brightness(0) invert(1);
}

.footer__socials img {
    width: 40px;
}

.footer__socials {
    display: flex;
    gap: 20px;
}

.footer .content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer p {
    font-size: 14px;
    order: 3;
}

@media (min-width: 640px) {
    .footer .content-wrapper {
        justify-content: space-between;
        flex-direction: row;
    }
    .footer p {
        align-self: flex-end;
        font-size: 14px;
    }
    .footer__socials {
        flex-direction: column;
        order: 3;
    }
}
